/* .card{
    width: auto;
    height: 300px;
    margin-left:34%;
    margin-top: 30px;
    box-shadow: 1px 1px 1px 1px darkslategrey;
} */
.dash_align{
    text-align: center;
}
.icon_align{
    width: 30px;
    height: 30px;
}

.add_button{
    float: right;
    margin-right: 20px;
}
.no_data{
    text-align: center;
}
.more_align{
    margin-left: 40px;
}
.btn_center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    /* margin-left: 20px; */
    
}
.btn_delete{
    margin-left:43px;
    margin-top: 13px;
}
.modal_align{
    text-align: center;
    padding: 10%;
}