.image_align{
    height: 80px;
}

.bank_head{
    color: orange;
    text-align: center;
    padding-top: 10px;
}
.bank_image_align{
    text-align: end;
    height: 80px;
}
.row_clr{
    background-color: red;
}
.navbar{
    background-color: blue;
    justify-content: space-around;
}
.navbar a{
    color:white;

}
